include versioneer.py
include splash_ingest/_version.py

include COPYRIGHT.txt
include LICENSE.txt
include README.md
include requirements.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
